
<%# Renders a partial which is used to create a new link_type %>

<%= form_for([:admin, @link_type], :html => {:id=>"form_link_type", :class=>"mb-0 form-horizontal", :role => "form", :method => (@link_type.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @link_type.errors[:base].to_sentence %>

    <div class="form-inputs">

      <%# Name (string)  %>
      <%= theme_form_field(@link_type, 'name') %>

      <%# Description (textarea) %>
      <%= theme_form_field(@link_type, 'description', required: false, html_options: {type: 'textarea'}) %>

      <%# Name (string)  %>
      <%= theme_form_field(@link_type, 'theme', required: false) %>

      <%# Name (string)  %>
      <%= theme_form_field(@link_type, 'button_text', required: false) %>

    </div>

  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <%= button_tag "Cancel", :type => "button", :class => "btn btn-default", "data-dismiss" => "modal" %>
      <%= theme_form_button(@link_type) %>
    </div>

  </div>

	<div class="cl-10"></div>

<% end %>

