<%= flash_message() -%>

<div class="panel panel-default">
  <div class="panel-body" style="height:auto;">
    <div style="height:auto;">
      <div class="pull-left" style="width:30%;">
        <%
          redirect_url = admin_link_type_path(@link_type)
          change_picture_url = upload_image_link(@link_type, redirect_url, :picture)
        %>
        <%= theme_image(@link_type, redirect_url, :picture, "picture.image.url", change_picture_url: change_picture_url) %>
      </div>
      <div class="pull-left ml-10 text-color-gray" style="width:65%">
        <%= theme_panel_heading(@link_type.name) %>
        <%= theme_panel_sub_heading(@link_type.theme, nil) %>
        <%= theme_panel_description(@link_type.description) %>
      </div>
    </div>
  </div>

  <div class="panel-footer mt-20">
    <div class="clearfix fs-12 p-5">
      <%= theme_edit_button(edit_admin_link_type_path(@link_type)) %>
      <%= theme_delete_button(admin_link_type_path(@link_type)) %>
    </div>
  </div>

  <div class="cl"></div>
</div>

<%= theme_more_widget(@link_type,
          data_columns: [:theme, :button_text],
          heading: "Link Type Details") %>

<%= theme_more_widget(@link_type,
          data_columns: [:id, :created_at, :updated_at],
          super_admin: true) %>



