<% if @link_type.errors.blank? %>
  // Fill the right box with first link_type details
  $('#div_link_type_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

  // Add the newly created item to the list
  $("#div_link_type_index").prepend("<div id=\"div_link_type_<%= @link_type.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :link_type => @link_type })) %></div>")
  $(".panel-message").hide();
<% else %>
  $('#div_link_type_details').html("<%= escape_javascript(render(:partial=>'form')) %>");
  // validateLinkTypeForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#link_type_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
