<% if @link_type.errors.blank? %>

	// Fill the right box with first link_type details
	$('#div_link_type_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

	// Add the newly created item to the list
  $("#div_link_type_index").prepend("<div id=\"div_link_type_<%= @link_type.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :link_type => @link_type })) %></div>")
  $(".panel-message").hide();

  // Close Modal
  closeModal();

<% else %>

  // Show the new form in the pop up form.
  heading = "Create Link Type";
  bodyContent = "<%= escape_javascript(render(:partial=>"form")) %>";
  showModal(heading, bodyContent);
  validateLinkTypeForm();

  // Populate Server Side Errors
  errorMessages = <%= @link_type.errors.full_messages.to_json.html_safe %>;
  populateServerSideErrors('link_type', errorMessages);

<% end %>
