<%= theme_heading("Manage Link Types") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New Link Type', 'plus', new_admin_link_type_path) %>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(LinkType, admin_link_types_path) %>
  </div>
</div>

<%# Renders a partial to display all the link_types %>
<div class="row">
	<div id="div_link_type_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>
	<div id="div_link_type_drop_down" class="col-xs-12 visible-xs">
		<%= theme_drop_down(@link_types, :name) %>
	</div>

	<div id="div_link_type_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@link_types) %>
	</div>

</div>


