
<%# Displays a detailed view of the client %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="panel panel-profile">
  <div class="panel-body" style="height:auto;">
    <div class="basic-profile" style="height:auto;">
      <div class="clearfix">
        <% change_picture_url = upload_image_link(@client, admin_client_path(@client), :logo) %>
        <% img_tag = display_image(@client, "logo.image.url", width: "100%", place_holder: {width: 300, height: 180, text: "<No Image>"}) %>
        <%= link_to img_tag, change_picture_url, :remote => true %>
      </div>
      <div class="m-20 text-color-gray">
        <div class="fs-22 text-color-blue"><%= @client.name %></div>
        <% location = @client.display_address %>
        <% unless location.blank? %>
          <div class="text-color-green fs-14"><i class="fa fa-map-marker"></i> <%= location %> </div>
        <% end %>
        <div class="fs-14 text-color-gray"> <%= @client.pretty_url %></div>
        <div class="fs-14 text-color-gray mt-10"> <%= @client.description %></div>
      </div>
      <div class="cl"></div>
    </div>

  </div>
  <div class="panel-footer">
    <div class="clearfix fs-12 p-5">
      <%= link_to raw("<i class=\"icon-pencil icon-white mr-5\"></i> Change Picture"), change_picture_url, :class=>"btn btn-default btn-xs pull-left", :remote=>true %>

      <%= link_to raw("<i class=\"icon-pencil icon-white mr-5\"></i> Edit"), edit_admin_client_path(@client), :class=>"btn btn-default btn-xs pull-right ml-10", :remote=>true %>
        <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), admin_client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right", :remote=>true %>
    </div>
  </div>
</div>

<div id="div_client_projects">
  <%= render :partial => "admin/clients/projects/index", :locals=>{:client => @client} %>
</div>

<% users = @client.users %>
<% if users.any? %>
  <div class="panel panel-archon mt-10">
    <div class="panel-heading">
      <h3 class="panel-title">Users
        <span class="pull-right">
          <a href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
          <a href="#" class="panel-close"><i class="fa fa-times"></i></a>
        </span>
      </h3>
    </div>
    <div class="panel-body clearfix">

      <% users.each do |user| %>
        <div class="pull-left" style="width:48%;margin-right:2%;">
          <%= render :partial => "user", :locals=>{:user => user } %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<%#= render :partial => "widgets/more_details", :locals=>{:data_model => @client,
                      :edit_link => edit_admin_client_path(@client),
                      :delete_link => admin_client_path(@client)} %>