<% if @client.errors.blank? %>
	// Fill the right box with first client details
	$('#div_client_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

	// Add the newly created item to the list
  $("#div_client_index").prepend("<div id=\"div_client_<%= @client.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :client => @client })) %></div>")
  $(".panel-message").hide();
<% else %>
  $('#div_client_details').html("<%= escape_javascript(render(:partial=>'form')) %>");
  validateClientForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#client_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
