<%= theme_heading("Manage Clients") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New Client', 'plus', main_app.new_admin_client_path) %>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Client, main_app.admin_clients_path) %>
  </div>
</div>

<%# Renders a partial to display all the clients %>
<div class="row">
	<div id="div_client_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>

	<div id="div_client_drop_down" class="col-xs-12 visible-xs">
		<%= theme_drop_down(@clients, :name) %>
	</div>

	<div id="div_client_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@clients) %>
	</div>

</div>


