<ul class="nav nav-pills nav-stacked">

  <li class="nav-header">Home</li>

  <li class="<%= nav_class("user/dashboard") %>">
    <%= link_to raw("<i class=\"fa fa-dashboard\"></i> Dashboard"), "#" %>
  </li>

  <% if @current_user.is_admin? %>

    <li class="nav-header">Admin</li>

    <li class="<%= nav_class("admin/clients") %>">
      <%= link_to raw("<i class=\"fa fa-globe\"></i> Manage Clients"), admin_clients_path %>
    </li>

    <li class="<%= nav_class("admin/projects") %>">
      <%= link_to raw("<i class=\"fa fa-rub\"></i> Manage Projects"), admin_projects_path %>
    </li>

  <% end %>

  <% if @current_user.is_super_admin? %>

    <li class="nav-header">System Configuration</li>

    <li class="<%= nav_class("admin/link_types") %>">
      <%= link_to raw("<i class=\"fa fa-link\"></i> Manage Link Types"), admin_link_types_path %>
    </li>

  <% end %>

  <li class="nav-header">Account</li>

  <li class="<%= nav_class("account/profile") %>">
    <%= link_to raw("<i class=\"fa fa-user\"></i> My Profile"), QAuthRubyClient.configuration.my_profile_url %>
  </li>

  <li>
    <%= link_to raw("<i class=\"fa fa-power-off\"></i> Sign Out"), q_auth_ruby_client.sign_out_path, :method => :delete %>
  </li>

  <li class="nav-header">APIS</li>

  <li><%= link_to raw("<i class=\"fa fa-anchor\"></i> API 1"), "#", :method => :get %></li>
  <li><%= link_to raw("<i class=\"fa fa-anchor\"></i> API 2"), "#", :method => :get %></li>
  <li><%= link_to raw("<i class=\"fa fa-anchor\"></i> API 3"), "#", :method => :get %></li>
  <li><%= link_to raw("<i class=\"fa fa-anchor\"></i> API 4"), "#", :method => :get %></li>

</ul>

