
<%# Renders a partial which is used to create a new project_link %>

<%= form_for([:admin, @project, @project_link], :html => {:id=>"form_project_link", :class=>"mb-0 form-horizontal", :role => "form", :method => (@project_link.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @project_link.errors[:base].to_sentence %>

    <div class="form-inputs">

      <% options = {assoc_collection: LinkType.select("id, name").order("name ASC").all, label: "Select Link Type"} %>
      <%= theme_form_assoc_group(@project_link, :link_type_id, **options) %>

      <%# URL (string)  %>
      <%= theme_form_field(@project_link, 'url', place_holder: "Paste the url with http://") %>

      <%# Under Construction (boolean) %>
      <%= theme_form_field(@project_link, 'under_construction', required: false, html_options: {type: "checkbox"}) %>

    </div>

  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <%= button_tag "Cancel", :type => "button", :class => "btn btn-default", "data-dismiss" => "modal" %>
      <%= theme_form_button(@project_link) %>
    </div>
  </div>

	<div class="cl-10"></div>

<% end %>

