<% project_links = project.project_links.order("created_at ASC") %>

<div class="panel panel-archon mt-10">
  <div class="panel-heading">
    <%= theme_panel_title("Project Links", "pull-left") %>
    <%= theme_button('Add a new link', 'plus', new_admin_project_project_link_path(project), {btn_type: :default, btn_size: :xs, classes: "pull-right"}) %>
    <%= clear_tag(10) %>
  </div>
  <div class="panel-body clearfix">

    <div id="form_project_links"></div>

    <% if @project.project_links.any? %>
      <% @project.project_links.each do |project_link| %>
        <%= render :partial => "admin/project_links/item", :locals=>{:project_link => project_link} %>
      <% end %>
    <% else %>
      <%= content_tag :div, "There are no link configured for this project.", :class=>"text-align-center text-color-gray fs-14" %>
    <% end %>

  </div>

</div>