<%# describes about each user %>
<div class="web-stats1 info clearfix" style="margin-bottom:5px;padding:5px;heightauto;overflow:hidden;">


    <div class="visible-md visible-lg pull-left mr-10" style="width:30%;overflow:hidden;">
      <%= display_image(project_link.link_type, "picture.image.url",
                        width: "60px",
                        place_holder: {width: 60, height: 60, text: "<No Image>"}
                        ) %>
    </div>
    <div class="pull-left" style="width:65%;">
      <%= project_link.link_type.name %>

      <%= link_to raw("<i class=\"fa fa-times\"></i> "), admin_project_project_link_path(project, project_link), method: :delete, data: { confirm: 'Are you sure?' }, :style=>"color: #898989;", :class=>"pull-right", :remote=>true %>

      <%= link_to raw("<i class=\"fa fa-pencil\"></i>"), edit_admin_project_project_link_path(project, project_link), :class=>"pull-right mr-5", :remote=>true, :style=>"color: #898989;" %>

      <div class="cl"></div>

      <%= link_to raw("<i class=\"fa fa-globe\"></i> Checkout Link"), project_link.url, :class=>"pull-left fs-14", :target=>"_blank" %>

    </div>



</div>