<div class="sidebar">
	<div class="wrapper">

		<%= link_to image_tag("/assets/logo.png", alt: "Q-Project Logo"), root_path, class: "logo" %>

		<ul class="nav  nav-list">

			<!-- sidebar input search box -->
			<li class="nav-search">
				<div class="form-group">
					<input type="text" class="form-control nav-search" placeholder="Search through site" />
					<span class="input-icon fui-search"></span>
				</div>
			</li>

			<li class="nav-header">Home</li>

			<li class="<%= nav_class("user/dashboard") %>">
				<%= link_to raw("<i class=\"fa fa-dashboard\"></i> Dashboard"), user_dashboard_path %>
			</li>


			<% if @current_user.is_admin? %>

				<li class="nav-header">Admin</li>

				<li class="<%= nav_class("admin/clients") %>">
					<%= link_to raw("<i class=\"fa fa-globe\"></i> Manage Clients"), admin_clients_path %>
				</li>

				<li class="<%= nav_class("admin/projects") %>">
					<%= link_to raw("<i class=\"fa fa-rub\"></i> Manage Projects"), admin_projects_path %>
				</li>

			<% end %>

			<% if @current_user.is_super_admin? %>

				<li class="nav-header">System Configuration</li>

				<li class="<%= nav_class("admin/link_types") %>">
					<%= link_to raw("<i class=\"fa fa-link\"></i> Manage Link Types"), admin_link_types_path %>
				</li>

			<% end %>

			<li class="nav-header">Account</li>

			<li class="<%= nav_class("account/profile") %>">
				<%= link_to raw("<i class=\"fa fa-user\"></i> My Profile"), user_profile_url %>
			</li>

			<li>
				<%= link_to raw("<i class=\"fa fa-power-off\"></i> Sign Out"), user_sign_out_path, :method => :delete %>
			</li>

			<li class="nav-header">APIS</li>

			<li><%= link_to raw("<i class=\"fa fa-anchor\"></i> Clients List API"), "#", :method => :delete %></li>
			<li><%= link_to raw("<i class=\"fa fa-anchor\"></i> Client Detail API"), "#", :method => :delete %></li>
			<li><%= link_to raw("<i class=\"fa fa-anchor\"></i> Projects List API"), "#", :method => :delete %></li>
			<li><%= link_to raw("<i class=\"fa fa-anchor\"></i> Project Detail API"), "#", :method => :delete %></li>

		</ul>

	</div><!-- /Wrapper -->
</div><!-- /Sidebar -->