<%# Displays a detailed view of the project %>

<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
  <%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="panel panel-profile">
  <div class="panel-body" style="height:auto;">
    <div class="basic-profile" style="height:auto;">
      <div class="pull-left p-20" style="width:30%;">
        <% change_picture_url = upload_image_link(@project, admin_project_path(@project), :logo) %>
        <% img_tag = display_image(@project, "logo.image.url", width: "100%", place_holder: {width: 300, height: 180, text: "<No Image>"}) %>
        <%= link_to img_tag, change_picture_url, :remote => true %>
        <%= link_to raw("<i class=\"icon-pencil icon-white mr-5\"></i> Change Picture"), change_picture_url, :class=>"btn btn-default btn-xs pull-left mt-20", :remote=>true %>
      </div>
      <div class="pull-left m-20 text-color-gray">
        <div class="fs-24 text-color-blue"><%= @project.name %></div>
        <%= link_to @project.client.name, admin_client_path(@project.client), class: "fs-16 text-color-red" if @project.client %>
        <div class="fs-14"><%= @project.pretty_url %></div>
      </div>

      <div class="cl"></div>

    </div>

  </div>
  <div class="panel-footer1">
    <div class="clearfix fs-12 p-5">
      <%= link_to raw("<i class=\"icon-pencil icon-white mr-5\"></i> Edit"), edit_admin_project_path(@project), :class=>"btn btn-default btn-xs pull-right ml-10", :remote=>true %>
      <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), admin_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right", :remote=>true %>
    </div>
  </div>
</div>

<div id="div_project_members">
  <%= render :partial => "admin/roles/index", :locals=>{:project => @project} %>
</div>

<div id="div_project_links">
  <%= render :partial => "admin/project_links/index", :locals=>{:project => @project} %>
</div>

<% if @current_user.is_super_admin? %>
  <%= render :partial => "widgets/more_details", :locals=>{
                        :data_model => @project,
                        :data_columns => [:id, :created_at, :updated_at],
                        :heading => "Technical Details",
                        :display_footer => false} %>
<% end %>


