<% if @project.errors.blank? %>
  // Fill the right box with first project details
  $('#div_project_show').html("<%= escape_javascript(render(:partial=>'show')) %>");
  $('#div_project_details').html("<%= escape_javascript(render(:partial=>'details')) %>");

  // Add the newly created item to the list
  $("#div_project_index").prepend("<div id=\"div_project_<%= @project.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :project => @project })) %></div>")
  $(".panel-message").hide();
<% else %>
  $('#div_project_show').html("<%= escape_javascript(render(:partial=>'form')) %>");
  validateProjectForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#project_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
