<%= theme_heading("Manage Projects") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New Project', 'plus', new_admin_project_path) %>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Project, admin_projects_path) %>
  </div>
</div>

<%# Renders a partial to display all the projects %>
<div class="row">
	<div id="div_project_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>

	<div id="div_project_drop_down" class="col-xs-12 visible-xs">
		<%= theme_drop_down(@projects, :name) %>
	</div>

	<div id="div_project_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@projects) %>
	</div>

</div>


