
<%# Renders a partial which is used to create a new role %>

<%= form_for([:admin, @project, @role], :html => {:id=>"form_role", :class=>"mb-0 form-horizontal", :role => "form", :method => (@role.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @role.errors[:base].to_sentence %>

    <div class="form-inputs">

      <%# Choose User - Drop Down %>
      <% options = {assoc_collection: User.select("id, name").order("name ASC").all} %>
      <%= theme_form_assoc_group(@role, :member_id, **options) %>

      <%# Choose Role - Drop Down %>
      <% roles = ConfigCenter::Roles::LIST %>
      <% options_list = Array[*roles.collect {|v,i| [v,v] }].sort %>
      <%= theme_form_select_group(f, @role, :member_id, options_list, label: "Role", param_name: "name") %>

    </div>

  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <%= button_tag "Cancel", :type => "button", :class => "btn btn-default", "data-dismiss" => "modal" %>
      <%= theme_form_button(@role, "Add Role") %>
    </div>
  </div>

	<div class="cl-10"></div>

<% end %>

